@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 13px/1.2 $font-open-sans;
    color: $darkgrey;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
}

.container {
    max-width: 1050px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;

    &__small {
        @extend .container;
        max-width: 510px;
    }
}

.row {
    display: flex;
    width: 100%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33%;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}