// Fonts
$font-open-sans: 'Open Sans', Verdana, Arial, sans-serif;
$font-montserrat: 'Montserrat', Arial, Tahoma, sans-serif;
$font-nunito: Nunito, Verdana, Arial, sans-serif;

// Colours
$black: #000;
$white: #fff;
$lime: #99c50a;
$darkgrey: #666;
$grey:rgb(141, 141, 141);


// Effects
$buttonHover: 0px 4px 2px 0px rgba(0, 0, 0, 0.54);